#deck-preview-panel {
	position: relative;
	float: left;
	height: 100%;
	width: 160px;
	padding: 10px;
	overflow-y: scroll; 
	background-color: #b8bcc7;
	background: linear-gradient(#b8bcc7, #9ba3b1);
}

.slide-list-item {
	width: 100%;
}

.slide-list-item img {
	width: 100%;
	margin-bottom: 15px;
}

#deck-content-panel {
	position: relative;
	height: 100%;
	margin-left: 180px;
	background-color: #b8bcc7;
	background: linear-gradient(#b8bcc7, #9ba3b1);
}

#viewer-container {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 0px auto;
}

#toolbar {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
}