/* global styles */

	html {
	    margin: 0px;
	    padding: 0px;
	    height: 100%;
	}

	body {
	    background: #FFFFFF;
	    margin: 0px;
	    padding: 0px;
	    height: 100%;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 15px;
	}

	.full-content {
		position: relative;
		height: 100%;
		width: 100%;
	}

    
/* table classes */
    
    .table {
    	position: relative;
        display: table;
    	width: 100%;
    }
    
    .table.full {
    	height: 100%;
    }
    
    .table-row {
        display: table-row;
    }
    
    .table-cell {
    	position: relative;
        display: table-cell;
    }

    .table-cell.center {
	    vertical-align: middle;
	}

/* Header styles */

	#header-bar {
		height:30px;
		background-color: #3B5998;
		border-bottom: 1px solid 284E9E;
		z-index: 1002;
	}

	#header-bar #title {
		color: #ffffff;
		font-weight: bold;
		font-size: 20px;
		margin-top: 3px;
		margin-left: 10px;
	}

	#header-bar #authenticate-container {
		margin-top: 2px;
		margin-right: 3px;
	}

	#header-bar #action-container {
		margin-top: 2px;
		margin-right: 3px;
	}

	#main-body {
		margin-top: 60px;
	}

/* utility classes */

	button {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #444444;
		border-top: 1px solid #cecece;
		border-bottom: 1px solid #a0a0a0;
		border-left: 1px solid #cecece;
		border-right: 1px solid #cecece;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #FEFEFE;
		background-image: -moz-linear-gradient(top, #FEFEFE, #F3F3F3);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#F3F3F3));
		background-image: -webkit-linear-gradient(top, #FEFEFE, #F3F3F3);
		background-image: -o-linear-gradient(top, #FEFEFE, #F3F3F3);
		background-image: linear-gradient(to bottom, #FEFEFE, #F3F3F3);
		background-repeat: repeat-x;
		cursor: hand;
		cursor: pointer;
	}

	.selectable {
		cursor: hand;
		cursor: pointer;
	}

	.link {
    	color: #29ABE2;
		cursor: hand;
		cursor: pointer;
	}

	.left {
	    position: relative;
	    float: left;
	}
	
	.right {
	    position: relative;
	    float: right;
	}

	.clear {
	    clear: both;
	}