/* modal styles */

	#modal-overlay {
	    position: fixed;
	    top: 0px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    background-color: rgba(0,0,0,0.8);
	    z-index:1100;
	}

	.popup-container {
	    position: fixed; 
	    _position: absolute;
	    top: 10%;
	    left: 50%;
	    width: 600px;
	    margin-left: -300px;
	    background: #FFFFFF;
	    border:1px solid #cecece;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    z-index:2;
	}

	.popup-container .header {
	    font-size: 24px;
	    font-weight: 300;
	    color: #111111;
	    padding-top: 10px;
	    padding-bottom: 0px;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.popup-container .body {
	    padding: 10px;	
	}

	.popup-container .body .panel-error-message {
	    position: relative;
	    padding-bottom: 8px;
	    font-size:14px;
	    font-weight: bold;
	    color: #CC0000;
	}

	.popup-container .body .panel-item {
	    margin-bottom: 10px;	
	}

	.popup-container .body .textbox-container {
	    padding-right: 13px;
	}

	.popup-container .body input[type=text] {
	    width: 100%;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size:15px;
	    font-weight: normal;
	    color: : #222222;
	    padding: 5px;
	    border: 1px solid #b9b9b9;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    resize: none;
	}

	.popup-container .nav {
		margin-top: 10px;
	}